option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
container_commands:
  01_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_createsuperuser:
    command: "export DJANGO_SUPERUSER_PASSWORD=plinic && source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py createsuperuser --username plinic --email logical_man@naver.com --noinput"
    leader_only: true
  04_change_database_permission:
    command: "sudo chmod 777 db.sqlite3"
    leader_only: true
