option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cicdproject.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Plinic-Backend.settings.dev
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
